body {Background: Lavender;
	Color: Black 
	Font-size: 13pt;} 
h1 {font-family: 'Oswald', sans-serif;
	Font-size: 24pt
	font-weight: bold
	color: black}
body {font-family: 'Open Sans Condensed', sans-serif;}